<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>p_01</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="scripts/jquery.min.js"></script>
</head>
<body class="side-bg">
	<div class="grid-2">
		
		<!-- side -->
		<div class="nav pull-left">
			<div class="logo">BioTA</div>
			<div class="employee">
				<label for="employee">Employee ID</label>
				<input type="text" id="employee" class="text-center" maxlength="4">
			</div>
			<ul id="number_btn" class="number text-center">
				<li data-number="1">1</li>
				<li data-number="2">2</li>
				<li data-number="3">3</li>
				<li data-number="4">4</li>
				<li data-number="5">5</li>
				<li data-number="6">6</li>
				<li data-number="7">7</li>
				<li data-number="8">8</li>
				<li data-number="9">9</li>
				<li data-number="11">C</li>
				<li data-number="0">0</li>
				<li data-number="12">&lt;</li>
			</ul>
			<div class="result_text">
				<div class="result_text_col">
					<em>Name / Dept</em>
					<!--
					<span>Lightman / RD</span>
					-->
				</div>
			</div>
			<div class="result_img">
				<span>Finder Waiting</span>
			</div>
		</div>
		<!-- side//-->
		
		<!-- list -->
		<div class="list pull-right">
			<div class="setting pull-right text-right">
				<span>2016/01/23</span>
				<span>07:28:53 Sat</span>
				<i class="i-setting pull-right"></i>
			</div>

			<table class="gird-table announcement">
				<caption>Announcement</caption>
				<tr>
					<th width="60%">Subject</th>
					<th>Tricker</th>
					<th width="25%">Time</th>
				</tr>
				<tr>
					<td>How go Get a Raise of 10% or More</td>
					<td>Boss</td>
					<td>01/20 Wed 11:19</td>
				</tr>
			</table>
		</div>
		<!-- list//-->
	</div>
	<script src="scripts/script.js"></script>
</body>
</html>