<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>p_03</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="head">
		<div class="logo pull-left">BioTA</div>
		<div class="setting pull-right text-right">
			<span id="top_date">2016/01/23</span>
			<span id="top_time">07:28:53 Sat</span>
			<i class="i-setting pull-right"></i>
		</div>
	</div>

	<ul class="menu">
		<li><i class="i-admin"></i><h2>使用者管理</h2></li>
		<li><i class="i-sync"></i><h2>手動同步資料</h2></li>
		<li><i class="i-log"></i><h2>運行記錄</h2></li>
		<li><i class="i-system"></i><h2>系統設定</h2></li>
		<li><i class="i-finger"></i><h2>指紋機</h2></li>
		<li><i class="i-access"></i><h2>門禁機</h2></li>
	</ul>
    <script src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/livereload.js"></script>
    <script type="text/javascript" src="scripts/date_time_config.js"></script>    
</body>
</html>