<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>p_04_2_1</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/jquery.cookie.js"></script>
</head>
<body>
	<div class="head">
		<div class="logo pull-left">BioTA</div>
		<div class="setting pull-right">
			<i class="i-back pull-right"></i>
		</div>
	</div>

	<div class="search-fulid btn-wrap">
		<button class="btn_warning" id="btn_scanning">掃描</button>
	</div>
	
	<div class="grid-fulid-2">
		<div class="col-md-4">
			<table class="grid-3-table">
				<tr>
					<th>姓名</th>
					<td id="account_name_td"></td>
				</tr>
				<tr>
					<th>工號</th>
					<td id="account_number_td"></td>
				</tr>
				<tr>
					<th>職稱</th>
					<td id="account_job_title_td"></td>
				</tr>
				<tr>
					<th>生日</th>
					<td id="account_birthday_td"></td>
				</tr>
				<tr>
					<th>性別</th>
					<td id="account_sex_td"></td>
				</tr>
				<tr>
					<th>血型</th>
					<td id="account_blood_type_td"></td>
				</tr>
			</table>
		</div>
		<div class="col-md-8 add_finger_img">
			<div class="col-md-12 text-center">
				<div class="result_text">
					左姆指
				</div>
			</div>
			<div class="col-xs-4 col-md-4">
				<div class="result_img">
					<img src="img/finger.png" class="img-responsive">
				</div>
			</div>
			<div class="col-xs-4 col-md-4">
				<div class="result_img">
					<img src="img/finger.png" class="img-responsive">
				</div>
			</div>
			<div class="col-xs-4 col-md-4">
				<div class="result_img">
					<img src="img/finger.png" class="img-responsive">
				</div>
			</div>
		</div>
	</div>

	<div id="validation_alert2" class="validation_alert hidden">
		<ol class="list-style">
			<li>目前無指紋機可用</li>
		</ol>
	</div>

	<script src="scripts/script.js"></script>
	<script>
	// ready
	$(function(){
		// 從cookie取值
		var account_arr =  $.cookie("account_arr");
			account = account_arr.split(",");
		for(var i in account){
			$(".grid-3-table tr").eq(i).find("td").text(account[i]);
		}
		
		// 清除cookie, 依名稱給null值即可 
		// $.cookie("cookie_name", null)
	});
	function show_alert2(){
		if($('#validation_alert2 ol li').size() == 0 ){
			// 若無提示筆數，則隱藏alert區塊
			$('#validation_alert2').addClass('hidden');
		} else {
			// 有欄位提示，則跳出alert
			$('#validation_alert2').removeClass('hidden').show().delay(3000).fadeOut(3000);
		}
	};

	// 掃描
	$("#btn_scanning").click(show_alert2);
	</script>
</body>
</html>