<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>p_04_2_1</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="scripts/jquery.min.js"></script>
</head>
<body>
	<div class="head">
		<div class="logo pull-left">BioTA</div>
		<div class="setting pull-right">
			<i class="i-back pull-right"></i>
		</div>
	</div>

	<div class="search-fulid btn-wrap">
		<button class="btn-warning">儲存</button>
	</div>
	
	<div class="grid-fulid-2">
		<div class="grid-3">
			<table class="grid-3-table">
				<tr>
					<th>姓名</th>
					<td>王小明</td>
				</tr>
				<tr>
					<th>工號</th>
					<td>0328</td>
				</tr>
				<tr>
					<th>職稱</th>
					<td>RD</td>
				</tr>
				<tr>
					<th>生日</th>
					<td>1988/08/08</td>
				</tr>
				<tr>
					<th>性別</th>
					<td>男</td>
				</tr>
				<tr>
					<th>血型</th>
					<td>RH</td>
				</tr>
			</table>
		</div>
		<div class="grid-6">
			<div class="result_text">
				<span>指紋 - 姆指</span>
			</div>
			<div class="result_img_wrap">
				<div class="result_img">
					<span><a href="#" id="input_finger_1">1</a></span>
				</div>
				<div class="result_img">
					<span><a href="#" id="input_finger_2">2</a></span>
				</div>
				<div class="result_img">
					<span><a href="#" id="input_finger_3">3</a></span>
				</div>
			</div>
		</div>
	</div>
	<script src="scripts/script.js"></script>
</body>
</html>