<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>p_04_2</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="head">
		<div class="logo pull-left">BioTA</div>
		<div class="setting pull-right">
			<i class="i-back pull-right"></i>
		</div>
	</div>

	<div class="search-fulid btn-wrap">
		<button class="btn-warning">編輯</button>
	</div>
	
	<div class="grid-fulid-2">
		<div class="grid-3">
			<table class="grid-3-table">
				<tr>
					<th>姓名</th>
					<td>王小明</td>
				</tr>
				<tr>
					<th>工號</th>
					<td>0328</td>
				</tr>
				<tr>
					<th>職稱</th>
					<td>RD</td>
				</tr>
				<tr>
					<th>生日</th>
					<td>1988/08/08</td>
				</tr>
				<tr>
					<th>性別</th>
					<td>男</td>
				</tr>
				<tr>
					<th>血型</th>
					<td>RH</td>
				</tr>
			</table>
		</div>
		<div class="grid-3">
			<div class="result_text">
				<span>指紋</span>
			</div>
			<div class="result_img">
				<span><a href="#">姆指</a></span>
			</div>
			<a href="#" title="食指"><img src="img/finger.png" class="result_img"></a>
			<a href="#" title="中指"><img src="img/finger.png" class="result_img"></a>
			<a href="#" title="無名指"><img src="img/finger.png" class="result_img"></a>
			<a href="#" title="小指"><img src="img/finger.png" class="result_img"></a>
		</div>
		<div class="grid-3">
			<div class="result_text">
				<span>門禁卡</span>
			</div>
			<div class="search-fulid btn-wrap2">
				<input type="text" value="acb0cda1b3">
				<button class="btn-danger">刪除</button>
			</div>
			<div class="search-fulid btn-wrap3">
				<button class="btn-success">新增</button>
			</div>
		</div>
	</div>
</body>
</html>