<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>p_06</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="head">
		<div class="logo pull-left">BioTA</div>
		<div class="setting pull-right">
			<i class="i-back pull-right"></i>
		</div>
	</div>

	<div class="search-fulid">
		<input type="text" placeholder="搜尋欄">
		<button class="btn-success">查詢</button>
	</div>
	
	<div class="grid-fulid grid-8">
		<table class="fulid-table">
			<tr>
				<th>時間</th>
				<th>事件</th>
				<th>操作者</th>
				<th>詳細描述</th>
				<th>操作結果</th>
			</tr>
			<tr>
				<td>2016/01/10  20:30</td>
				<td>事件內容</td>
				<td>張饒輝</td>
				<td>描述文字</td>
				<td class="text-left">成功</td>
			</tr>
			<tr>
				<td>2016/01/10  20:30</td>
				<td>事件內容</td>
				<td>張饒輝</td>
				<td>描述文字</td>
				<td class="text-left">成功</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</div>
	<div class="p_06 grid-2">
		<div class="search-fulid btn-wrap4">
			<button class="btn-warning">人員進出</button>
			<button class="btn-warning">資料同步</button>
			<button class="btn-warning">主機同步</button>
			<button class="btn-warning">門禁控制</button>
		</div>
	</div>
</body>
</html>