<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>p_06</title>
	<link rel="stylesheet" href="css/style.css">
    <script src="scripts/jquery.min.js"></script>
</head>
<body>
	<div class="head">
		<div class="logo pull-left">BioTA</div>
		<div class="setting pull-right">
			<i class="i-back pull-right"></i>
		</div>
	</div>

	<div class="search-fulid">
		<input type="text" id="search_box" placeholder="輸入關鍵字搜尋">
		<button class="btn-success" id="btn_delete">清除</button>
	</div>
	
	<div class="grid-fulid grid-8">
		<table class="fulid-table" id="search_cont">
			<thead>
				<tr>
					<th width="20%">時間</th>
					<th width="20%">事件</th>
					<th width="15%">操作者</th>
					<th width="30%">詳細描述</th>
					<th width="15%">操作結果</th>
				</tr>
			</thead>
			<tbody>
				<tr data-view-type="4">
					<td>2016/01/10  20:30</td>
					<td>事件內容4</td>
					<td>張饒輝</td>
					<td>描述文字</td>
					<td class="text-sucess">成功</td>
				</tr>
				<tr data-view-type="1">
					<td>2000/06/05  07:30</td>
					<td>事件內容1</td>
					<td>王小明</td>
					<td>描述文字</td>
					<td class="text-sucess">成功</td>
				</tr>
				<tr data-view-type="3">
					<td>3000/06/05  07:30</td>
					<td>事件內容3</td>
					<td>王中明</td>
					<td>描述文字</td>
					<td class="text-sucess">成功</td>
				</tr>
				<tr data-view-type="2">
					<td>4000/06/05  07:30</td>
					<td>事件內容2</td>
					<td>王大明</td>
					<td>描述文字</td>
					<td class="text-danger">失敗</td>
				</tr>
				<tr data-view-type="1">
					<td>5000/06/05  07:30</td>
					<td>事件內容1</td>
					<td>王小明</td>
					<td>描述文字</td>
					<td class="text-danger">失敗</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="p_06 grid-2">
		<div class="search-fulid btn-wrap4" id="btn-view-type">
			<button class="btn-warning" data-btn-type="1">人員進出</button>
			<button class="btn-warning" data-btn-type="2">資料同步</button>
			<button class="btn-warning" data-btn-type="3">主機同步</button>
			<button class="btn-warning" data-btn-type="4">門禁控制</button>
		</div>
	</div>
    <script src="scripts/script.js"></script>
    <script type="text/javascript" src="scripts/livereload.js"></script>
    <script type="text/javascript" src="scripts/date_time_config.js"></script>    
</body>
</html>