<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>p_07</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="head">
		<div class="logo pull-left">BioTA</div>
		<div class="setting pull-right">
			<i class="i-back pull-right"></i>
		</div>
	</div>
	
	<div class="ds-device-info">
		<div class="grid-5">
			<img src="img/ds_device_info_1.jpg">
		</div>
		<div class="grid-5">
			<img src="img/ds_device_info_2.jpg">
		</div>
	</div>
    <script src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/livereload.js"></script>
    <script type="text/javascript" src="scripts/date_time_config.js"></script>  
</body>
</html>