<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>p_07</title>
	<link rel="stylesheet" href="css/style.css">
    <script src="scripts/jquery.min.js"></script>
</head>
<body>
	<div class="head">
		<div class="logo pull-left">BioTA</div>
		<div class="setting pull-right">
			<i class="i-back pull-right"></i>
		</div>
	</div>
	
	<div class="ds-device-info">
		<div class="grid-5">
			<img src="img/ds_device_info_1.jpg">
		</div>
		<div class="grid-5">
			<table class="grid-3-table">
				<tr>
					<th>產品識別碼</th>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th>廠商識別碼</th>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th>版本</th>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th>速度</th>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th>製造商</th>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th>位置識別碼</th>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th>資料更新時間</th>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th>產品名稱</th>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>
	</div>
    <script type="text/javascript" src="scripts/livereload.js"></script>
    <script type="text/javascript" src="scripts/date_time_config.js"></script>  
</body>
</html>