<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>p_08</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="head">
		<div class="logo pull-left">BioTA</div>
		<div class="setting pull-right">
			<i class="i-back pull-right"></i>
		</div>
	</div>

	<div class="search-fulid">
		<input type="text" placeholder="搜尋欄">
		<button class="btn-success">查詢</button>
	</div>
	
	<div class="grid-fulid grid-8">
		<table class="fulid-table">
			<tr>
				<th>設定</th>
				<th>參數</th>
				<th>前一次參數</th>
				<th>還原操作</th>
			</tr>
			<tr>
				<td>指紋主機位置</td>
				<td>&nbsp;</td>
				<td></td>
				<td class="text-left">
					<a href="#">前一次</a>
					<a href="#">預設值</a>
				</td>
			</tr>
			<tr>
				<td>門禁主機位置</td>
				<td></td>
				<td></td>
				<td class="text-left"></td>
			</tr>
			<tr>
				<td>操作資料匯出位置</td>
				<td></td>
				<td></td>
				<td class="text-left"></td>
			</tr>
		</table>
	</div>
	<div class="p_08 grid-2">
		<div class="search-fulid btn-wrap4">
			<button class="btn-warning">主機同步</button>
			<button class="btn-warning">門禁控制</button>
			<button class="btn-warning">打卡設定</button>
		</div>
	</div>
</body>
</html>